article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* rgba(1, 180, 239,1) darkest blue */
/* rgba(31, 189, 241,1) mid blue */
/* rgba(89, 204, 242,1) powder blue */
/* rgba(152, 222, 245, 1) lighter powder */

/* rgba(243, 251, 254,1) light blue white */

/* rgba(255, 217, 0,1) darkYellow */
/* rgba(255, 230, 87,1) powderyellow*/

/* rgba(250, 86, 149,1) main pink*/
/* rgba(249, 0, 96,1) bright pink*/
/* rgba(251, 152, 190,1) light pink */




/* font-family: 'ZCOOL QingKe HuangYou', cursive; */
body{
    font-family: 'ZCOOL QingKe HuangYou',
    cursive;
    font-size: 125%;
   height: 100vh; 
    background: rgb(89, 204, 242);
    overflow: hidden;

}

h1 {
    margin:0;
}

.startGame {
    position:absolute;
    height: 100vh;
    z-index:1;
    top:0;

    right:0;
    bottom:0;
    left:0;
    background-color: #01b4ef;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%2359ccf2' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

/* .startGame h2 {
    text-transform:uppercase;
    letter-spacing: 1.5px;
}

.startGame p {
    width: 50%;
    text-align:center;
    margin: 0 auto;
    font-family: 'ZCOOL QingKe HuangYou',
    cursive;
    font-size: 1.5rem;
    line-height: 2rem;
}

.letsPlay {
       margin-top: 7rem;
       font-size: 2rem;
       padding: 1rem;
       border:none;
       transition: .05s all linear;
       border-radius: 25px;
       animation: zoomers linear 1.1s infinite;
       background-color: rgba(250, 86, 149, 1);
} */

.imgContainer:hover {
    cursor: pointer;
}

.startGame h1 {
    position:relative;
    animation: slideLeft 1s linear;
}

.startGame h2 {
    position:relative;
    text-transform:uppercase;
    letter-spacing: 1.5px;
    animation:slideRight 1s linear;
}

.startGame p {
    width: 50%;
    text-align:center;
    margin: 0 auto;
    font-family: 'ZCOOL QingKe HuangYou',
    cursive;
    font-size: 1.5rem;
    line-height: 2rem;
    animation:fadeIn 1s linear;
}

.letsPlay {
       margin-top: 7rem;
       font-size: 2rem;
       padding: 1rem;
       border:none;
       transition: .05s all linear;
       border-radius: 25px;
       animation: zoomers linear 1.1s infinite, fadeIn 1s linear;
       ;
       background-color: rgba(250, 86, 149, 1);
}

.letsPlay:hover,
.letsPlay:focus-within {
    background-color: rgba(255, 230, 87, 1)
}



h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 80px;
    color: rgb(255, 217, 0);
    text-shadow: 3px 3px  rgb(250, 86, 149);
    /* color: rgb(250, 86, 149); */
    /* color: rgb(251, 152, 190); */
    /* color: rgb(250, 24, 111); */
}



/* p {
    font-family: 'Open Sans', sans-serif;
} */

header {
    width: 100%;
    max-width: 100%;
    height: 23vh;
    border: 8px ridge rgb(250, 86, 149);
    /* border: 8px ridge rgb(250, 86, 149); */
    display: flex;
    flex-direction:row;
   align-items:center;
    
  
}


header div {
    text-align: center;
}
.scoreContainer {
    width: 25%;
}

.titleContainer {
    width: 50%;
   
}

.timerContainer {
    width: 25%;
}

main {
    width: 100%;
    height: 77vh;
    display:flex;
    flex-direction:row;

    
}

.leftMainContainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 40%;
}
.buttonContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position:relative;
    left: 131px;
    top: 2rem;
}
.nextRound {
    margin-top: 7rem;
    font-size: 2rem;
    padding: 1rem;
    border:none;
    transition: .1s all linear;
    border-radius: 25px;
    animation: zoomers linear 1.1s infinite;
    background-color: rgba(250, 86, 149, 1);
}

.nextRound:hover,
.nextRound:focus-within {
    background-color: rgba(255, 230, 87, 1)
}

.arrow {
   -webkit-clip-path: polygon(30% 0, 86% 72%, 100% 60%, 100% 100%, 60% 100%, 72% 87%, 0 30%);
   clip-path: polygon(30% 0, 86% 72%, 100% 60%, 100% 100%, 60% 100%, 72% 87%, 0 30%);
  background-color:rgba(255, 217, 0, 1);
    height: 100px;
    width: 100px;
    position:absolute;
    left:90px;
    animation:wiggle 1s linear infinite;
    top:0;
    -webkit-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.75);
    
}


.question {
    width: 100%;
    height: 50%;
    padding: 3rem;
    text-align:center;
    position:relative;
    top:4.5rem;
    left:2.5rem;
    background-color:rgba(255, 230, 87, 1);
     -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
     transform:rotate(-8deg);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.question p {
    font-size:2rem;
    font-family: 'ZCOOL QingKe HuangYou',
    cursive;
    line-height: 2rem;
}



.imageAnswers {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    margin: 1rem;
    transform: translateY(-20px);
}

.imgContainer {
    width: 45%;
    /* height: 300px; */
    height: 260px;
    display:flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* outline:2px solid orange; */
    margin: 10px 0;
}


.answer1,
.answer2,
.answer3,
.answer4 {
    width: 100%;
    height: 100%;
    /* height: 290px; */
    text-align:center;
    transition: 0.2s  linear;
    padding: 2px;
    outline: 2px solid blue;
}

.answer1 img,
.answer2 img,
.answer3 img,
.answer4 img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.imageAnswers {
    position: relative;
}

.answerPopUp  {
    position: absolute;
    z-index: -1;
}

.answerPopUp img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.answer1:hover,
.answer2:hover,
.answer3:hover,
.answer4:hover {
    animation: jiggle .5s linear;
}

.answer1:focus-within,
.answer2:focus-within,
.answer3:focus-within,
.answer4:focus-within {
    
    border: 2px solid rgba(255, 217, 0, 1);
    animation: jiggle .5s linear;    
}

/* img{
    display:block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    min-height: 10rem;
    object-fit: cover;
} */

h4 {
    
    font-size: 2rem;
    padding:0;
    margin:0;

}




/* END SCREEN STYLING START */
.endScreen {
    width: 0%;
    height: 100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    z-index: 1;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background-color: #01b4ef;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%2359ccf2' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    
}

.endContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position:relative;
    text-align:center;
}
.endScreen p,
.endScreen h1 {
    opacity:0;
    animation: jiggle 1s linear
}


/* MEDIA QUERIES */
@media only screen and (max-width:1100px) {
    .question {
        top:3.5rem;
    }

    .buttonContainer {
        left: 5.5rem;
        top: 3rem;
    } 

    .arrow {
        left: 0.5rem;
    }

}


@media only screen and (max-width: 1000px) {
    header {
        height: 20vh;
    }
    main {
        height: 80vh;
    }
    header h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 900px) {
    header {
        justify-content:space-between;

    }


    header .titleContainer {
        display:none;
    }

    .scoreContainer,
    .timerContainer {
        width: 50%;
    }
   
    .question {
        margin-left: 2rem;
        left:0;
        transform: rotate(0);
        height: 60%;
    }

    .buttonContainer {
        left: 2rem;
        top:0;
    }


}

@media only screen and (max-width: 750px) {
    main {
        flex-direction:column;

    }

    .answerPopUp {
        top: -20px;
    }

    .leftMainContainer {
        width:80%;
    }

    .imageAnswers {
        width: 90%;
    }

    .answerPopUp {
            top: -20px;
    }
}

@media only screen and (max-width: 400px) {
   header {
       flex-direction:column;
   }

   .scoreContainer,
   .timerContainer {
       width: 100%;
   }

   
   
    .startGame h1 {
        font-size: 3.5rem
    }
}




/* KEYFRAMES */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        left: 1000px;
        opacity:0;
    }
    70% {
        left: -150px;
    }
    100% {
        left: 0;
        opacity:1;
    }
}
@keyframes  slideRight {
    0% {
        right: 1000px;
        opacity: 0;
    }
    70% {
        right: -150px;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes jiggle {
    0% {
        transform: rotate(5deg);
       
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(2.5deg);
    }
    75% {
        transform: rotate(-2.5deg);
    }
    100%{
        transform: rotate(0deg);
        
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(20deg);
         background-color:rgba(255, 217, 0, 1);

    }

    50% {
        transform: rotate(-20deg);
        background-color:   rgba(250, 86, 149, 1)
    }

   

    100% {
        transform: rotate(20deg);
         background-color:rgba(255, 217, 0, 1);

    }

}

@keyframes zoomers {
    0% {
        transform: scale(1);
         -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
         -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
         box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);

    }

    25% {
        transform: scale(1.1);
         -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
         -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
         box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    }

    50% {
        transform: scale(1);
          -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    }

    75% {
        transform: scale(0.9);
          -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }

    100% {
        transform: scale(1);
        -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);

    }
}

